/* Make background fill full screen */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  background: black;       /* light background */
  font-family: Arial;
}
